
*{
    font-family: Helvetica, Arial,sans-serif;
}

#logo{
    width: 100%;
    padding: 1% 1%;
    float: left;
}

.topmenu {
    position: fixed;
    top:0%;
    right:0%;
    background-color:#d3e0e9;
    width: 100% ;
    height: 17%;
    overflow: hidden;
    font-size: 10vw;
    z-index: 2;
    display: inline-block;
}
.topmenu img {
  width: 13%;
  float: left;
}
.topmenu a {
    float: left;
    color:#2454ac;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 45px 50px;
  }

.topmenu input[type=text] {
    text-align: center;
    float: left;
    padding: 45px 50px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: 15%;
    height: 2%;
  }

  /* Change the color of links on hover */
  .topmenu a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topmenu a.active {
    background-color: #04AA6D;
    color: white;
  }
  #login{
    padding: 45px 55px;
    float: right;
    text-align: center;
  }
  #suporte{
    padding: 45px 55px;
    float: right;
    text-align: center;
  }

  .login_div{
    
    top: 50%;
    right: 50%;
    width: 300px;
    transform: translate(100%, 100%);
  }

  .email_form{
    padding: 200px 300px;
  }


.apoitments_group, .main_info {
  top: 60%;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  padding-top: 10%;
  padding-right: 0%;
  padding-bottom: 5%;
  padding-left: 0%;
}

.apoitments_group div{
  float: left;
  position: relative;
  background-color:#d3e0e9;
  overflow: hidden ;
  display: block;
  width: 250px;
  text-align: center;
  border: 3px #666;
  margin-left: 10%;
  margin-bottom: 5%;
  border-style: solid;
  border-radius: 5px;
  
}

.apoitments_group div img{
  width: 150px;
  height: 150px;
  float: center;
  border: 1px #666;
  margin-top: 10px;
  border-style: solid;
  border-radius: 5px;
}

.apoitments_group div h1{
  font-weight: 100;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  background-color: #2454ac;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.main_info img{
  width: 15%;
}
